<div class="overview-container">
    <h1>Overview of Freight Analysis Framework</h1>
    
    <div class="carousel">
      <div class="carousel-item">
        <div class="card">
          <div class="card-front">
            <h3>Freight Data</h3>
          </div>
          <div class="card-back">
            <p>Explore state-wise and year-wise freight analysis data.</p>
          </div>
        </div>
      </div>
  
      <div class="carousel-item">
        <div class="card">
          <div class="card-front">
            <h3>Interactive Charts</h3>
          </div>
          <div class="card-back">
            <p>Visualize data using pie charts and graphs with real-time updates.</p>
          </div>
        </div>
      </div>
  
      <div class="carousel-item">
        <div class="card">
          <div class="card-front">
            <h3>State Insights</h3>
          </div>
          <div class="card-back">
            <p>Dive deep into specific states for detailed analysis.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-front">
            <h3>Version</h3>
          </div>
          <div class="card-back">
            <p>The current version of frontend - 0.0.1.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  